body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left bottom, #4b3752, #534158, #5c4c5e, #635664, #6b616b);
    /* Using flexbox to help center the base resume */
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    height: 100vh;
    padding: 25px;
    margin: 0;
}

/* Main container holding the entire resume */
#main-container {
    width: 50%;
    border: none;
    border-radius: 20px;
    height: auto;
    background-color: #e9ecef;
    /* display: flex; */
}

.bold {
    font-weight: bold;
}

#profile-pic {
    /* float: left; */
    max-width: 180px;
    border-radius: 50%;
    filter: drop-shadow(3px 3px 8px #212529);
}

/* Header container for profile pic, contact info and quick blurb */
.section-1 {
    border: .1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Div for profile pic, name and job title */
.box-1 {
    border: .1px solid blue;
}

/* Div for contact information and links */
.box-2 {
    background-color: #adb5bd;
}

.box-2>ul>li {
      list-style-type: "✨";
}