body {
  background-image: linear-gradient(
    to right bottom,
    #59415c,
    #654e68,
    #725a75,
    #7e6882,
    #8b758f
  );
  height: 100vh;
  color: #333;
  padding: 10px;
  margin: 0;
  /* Made the body into a flexbox in order to center the entire resume on screen */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Embedded font settings from google fonts */
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}

.bold {
  font-weight: bold;
}

/* Removes divider visibility */
#main_container hr {
  display: none;
}

#name_title {
  text-transform: uppercase;
  padding: 5px;
}

#role_title {
  font-weight: bold;
  letter-spacing: 1px;
  color: #6a4c93;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #6a4c93;
  font-weight: bold;
}

a:hover {
  color: #dee2e6;
  text-shadow: #333333 1px 0 5px;
}

/* Flexbox container for the entire resume */
#main_container {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: space-evenly;
}

#profile_pic {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  margin: 20px;
  animation: glow 2s infinite alternate;
}

/* Keyframes for the 'glow' animation, using negative pixels to force the shadow to revert into itself */
@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #8a758f;
  }
  to {
    box-shadow: 0 0 10px 10px #8a758f;
  }
}

#section_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-evenly;
  padding: 4%;
}

/* Created separate div boxes inside of Section 1 to set the ideal widths for each block of information */
.box_1 {
  width: 60%;
}

.box_2 {
  width: 40%;
  text-align: right;
}

/* Removes the bullet points and the space left to keep the list clean and organized */
.box_2 li {
  list-style-type: none;
  margin: 0;
}

.box_3 {
  width: 100%;
}

.block_title::before {
  content: "˅"; /* The symbol you want to add */
  color: #dee2e6;
  margin-right: 10px; /* Optional: space between symbol and text */
  background-color: #725a75;
  width: 100%;
}

.block_title {
  text-transform: uppercase;
  background-color: #8b758f;
  font-weight: normal;
  padding: 5px;
  color: #dee2e6;
}

#section_2 {
  width: 60%;
}

/* .history {
    width: 100%;
} */

#section_3 {
  width: 36%;
  padding-left: 4%;
}

.progress_bar {
  width: 100%;
  border: none;
  border-radius: 5%;
}

.progress_bar::-webkit-progress-bar {
  background-color: #8a758f;
}

.progress_bar::-webkit-progress-value {
  background-color: #654e68;
}

/* .skills {
    border: 1px solid red;
    width: 100%;
} */
