body {
    background-color: #121212;
    color: #f8f9fa;
    padding: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

#main_container hr {
    display: none;
}

#role_title {
    color:aqua; 
}

#main_container {
    background-color: #343a40;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

#profile_pic {
    max-width: 150px;
    float: left;
    border-radius: 50%;
    padding: 10px;
}

#section_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.box_1 {
    width: 60%;
}

.box_2 {
    width: 40%;
    text-align: right;
}

.box_2 li {
    list-style-type: none;
    margin: 0;
}

.box_3 {
    width: 100%;
}

#section_2 {
    width: 60%;
}

/* .history {
    width: 100%;
} */

#section_3 {
    width: 40%;
    text-align: right;
}

/* .skills {
    border: 1px solid red;
    width: 100%;
} */